/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~swiper/dist/css/swiper.min.css';

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
    color:#fff;
    background-color: #000;
    width: 1px;
    min-width: 100%;
  }
  body, input[text], button {
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn, .btn-lg {
    white-space: normal;
    background-color: #333;
    color: #fff;
    border-color: #333;
    text-align: center;
  }

  .btn-info:hover {
    background-color: #2295f3;
    color: #fff;
  }

  a {
    color: #fff;
  }